{{#> main}}
  {{#*inline "content"}}
    <div class="container mt-5 mb-5">
      <h1 class="mb-4">Carrinho de Compras</h1>
      {{#if items.length}}
      <table class="table">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Total</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr>
            <td>{{this.name}}</td>
            <td>
              <form action="/cart/update/{{this.id}}" method="POST" class="d-inline">
                <input
                  type="number"
                  name="quantity"
                  value="{{this.quantity}}"
                  min="1"
                  class="form-control d-inline-block"
                  style="max-width: 4rem;">
                <button type="submit" class="btn btn-link">Atualizar</button>
              </form>
            </td>
            <td>R$ {{this.price}}</td>
            <td>R$ {{this.total}}</td>
            <td>
              <form action="/cart/remove/{{this.id}}" method="POST" class="d-inline">
                <button
  class="remove-from-cart btn btn-danger btn-sm"
  data-id="1"
>
  Remover 
</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="d-flex justify-content-between align-items-center">
        <h4>Total: R$ {{total}}</h4>
        <button class="btn btn-outline-dark" type="button">
          <i class="bi-cart-fill me-1"></i> Finalizar Compra
        </button>
      </div>
      {{else}}
      <p class="text-center">Seu carrinho está vazio.</p>
      {{/if}}
    </div>
  {{/inline}}
{{/main}}
