{{#> admin}}
  {{#*inline "content"}}
    <div class="container mt-5">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">Lista de Pedidos</h2>
      </div>
      
      {{#unless pedido}}
        <div class="alert alert-warning text-center" role="alert">
          <h3>Nenhum pedido encontrado</h3>
        </div>
      {{/unless}}

      {{#if pedido}}
        <div class=" p-4 border-0">
          <table class="table table-hover">
            <thead class="bg-white text-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Usuário</th>
                <th scope="col">Data</th>
                <th scope="col">Status</th>
                <th scope="col">Valor</th>
                <th scope="col">Mais Detalhes</th>           
              </tr>
            </thead>
            <tbody>
              {{#each pedido}}
              <tr data-id="{{this.id}}">
                <td><strong>#{{this.id}}</strong></td>
                <td>{{this.usuario.nome}}</td>
                <td>{{dateFormat this.dataPedido 'DD-MM-YYYY' }}</td>
                <td>
                  <span class="badge 
                    {{#if (eq this.status 'Pendente')}}bg-warning text-dark{{/if}}
                    {{#if (eq this.status 'Confirmado')}}bg-success{{/if}}
                    {{#if (eq this.status 'Cancelado')}}bg-danger{{/if}}">
                    {{this.status}}
                  </span>
                </td>
                <td class="text-dark fw-bold">R$ {{this.total}}</td>
                <td>
                  <a href="/pedido/detalhes?id={{this.id}}" class="btn btn-primary btn-sm text-white " title="Detalhes do Jogo">
                    <i class="bi bi-eye-fill"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/if}}
    </div>
  {{/inline}}
{{/admin}}